* {
	box-sizing: border-box;
}

html, body {
	margin:0;
	padding:0;
}

body {
	font-family:'Playfair Display',Arial,Times,sans-serif;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container {
	height:100vh;
    width:100%;
    margin:0 auto;
    background-color: lightcyan;
    display:flex;
	justify-content: center;
}

#calculator {
	margin: 70px 10px 10px 0px;
	height:600px;
	width:400px;
	display:grid;
	background-color: gray;
	-webkit-box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.77); 
	box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.77);
	border-radius: 10px;
}

.container, .row, .enter {
    display: flex;
    justify-content: center;
}

.row {
    justify-content: space-evenly;
}

.display {
    margin: 6px 6px 0px 6px;
	border:1px solid black;
	background-color: white;
	border-radius: 10px;
    box-shadow: 1px 2px rgb(95, 95, 95);
	height:65px;
}

button {
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:50%;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-size:16px;
	font-weight:bold;
	padding:0px 30px 0px 30px;
	border:1px solid black;
}

button:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}

button:active {
	position:relative;
	top:1px;
}

#calculate {
	font-size:30px;
	border-radius: 10px;
	display:block;
	padding-top:0;
}

footer p {
	font-size: 10px;
	padding-top: 5px;
	text-align: center;
}

@media screen and (max-width: 600px) {


}