* {
	box-sizing: border-box;
}

html, body {
	margin:0;
	padding:0;
}

body {
	font-family:'Playfair Display',Arial,Times,sans-serif;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container {
	height:100vh;
    width:100%;
    margin:0 auto;
    background-color: lightcyan;
    display:flex;
	justify-content: center;
}

#calculator {
	margin: 70px 10px 10px 0px;
	height:600px;
	width:400px;
	border:3px solid black;
	display:grid;
	background-color: white;
	-webkit-box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.77); 
	box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.77);
	border-radius: 10px;
}

.container, .row, .entercon {
    display: flex;
    justify-content: center;
}

.row {
    justify-content: space-evenly;
}

footer p {
	font-size: 10px;
	padding-top: 5px;
	text-align: center;
}

@media screen and (max-width: 600px) {
	#calc {
		margin:0;
		height:100vh;
		width:100%;
		border:0;
	}

}